<center><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png' weither="70%" ></center>

Summarized by *Sebastião Ferreira de Paula*, Createad by [DataCamp](https://learn.datacamp.com/courses/streamlined-data-ingestion-with-pandas)
--

---
**Manipulação de dados com Pandas** 
--

Quando trabalhamos com pandas, temos a carecteristicas de trabalhar com `DataFrames`.

Mas afinal o que seria um `DataFrame`?
--
São umas estrutura especifica montada com duas dimenssões `[ Colunas e rows(index)]`.

A biblioteca do `Python`, `Pandas`, nos possibilita importar deiversos tipos de dados e sendo o mais utilizado os dos tipos de dados com `.TSV`

# Obtenha dados de outros arquivos simples

Embora os CSVs sejam o tipo mais comum de arquivo simples, às vezes você encontrará arquivos que usam delimitadores diferentes `.read_csv()` pode carregar tudo isso com a ajuda do `sep` argumento de palavra - chave. Por padrão, `pandas` assume que o separador é uma vírgula, por isso não precisamos especificar seppara CSVs.

A versão dos dados fiscais de Vermont aqui é um arquivo de valores separados por tabulação (TSV), então você precisará usar `sep` para passar o delimitador correto ao ler o arquivo. Lembre-se de que as guias são representadas como `\t`. Depois de carregar o arquivo, o código restante agrupa o `N1`campo, que contém as categorias de faixa de renda, para criar um gráfico de declarações de impostos por categoria de renda.

Linhas Limitadoras:
--

- Utilizar `nrows` e `skiprows` juntos para processar a ,le em pedaços
- `skiprows` aceita uma lista de números de linhas, um número de linhas, ou uma função para, flter `rows`.
- Definir `header=none` para que `pandas` saiba que não há nomes de colunas

Especificação dos tipos de dados:
--
- Utilize o argumento da palavra-chave `dtype` para especificar os tipos de dados da coluna
- O `dtype` utiliza um dicionário de nomes de colunas e tipos de dados

VAMOS A PRÁTICA:
--

In [12]:
#   Importando biblioteca
import pandas as pd

#   Lendo o arquivo para prática
URI = 'https://assets.datacamp.com/production/repositories/4412/datasets/61bb27bf939aac4344d4f446ce6da1d1bf534174/vt_tax_data_2016.csv'
df = pd.read_csv(URI,
                nrows = 500,
                skiprows = 600,
                header = None)
df.head(n=1)

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,50,VT,5445,6,340,30,290,0,270,1000,...,340,41004,160,300,220,1384,150,3539,120,2822

In [11]:
# Mostastrando agora com header True
URI = 'https://assets.datacamp.com/production/repositories/4412/datasets/61bb27bf939aac4344d4f446ce6da1d1bf534174/vt_tax_data_2016.csv'
df_2 = pd.read_csv(URI,
                nrows = 500,
                skiprows = 600)
df_2.head(n=1)

,50,VT,05445,6,340,30,290,0,270,1000,...,340.5,41004,160.1,300,220,1384,150.1,3539.1,120.3,2822
0,50,VT,5446,1,2440,1960,200,250,820,2490,...,1160,1057,0,0,0,0,180,178,2090,3023

---
# Utilização de Spreadsheets


Loading Select Columns and Rows:
--
- `read_excel()` has many keyword arguments in common with `read_csv()`
> - `nrows` : limit number of rows to load
> - `skiprows` : specify number of rows or row numbers to skip
> - `usecols` : choose columns by name, positional number, or le

Selecção das sheats a carregar:
--
- `read_excel()` carrega a ,rst sheet num Excel ,le por defeito.
- Utilize o argumento da palavra-chave `sheet_name`  para carregar outras sheats.
- Especificar folhas de cálculo por nome e/ou número de posição (indexado a zero).
- Passar uma lista de nomes/números para carregar mais do que uma folha de cada vez.
- Quaisquer argumentos passados para `read_excel()` aplicam-se a todas as folhas lidas.

Definir colunas booleanas
--

Os conjuntos de dados podem ter colunas modeladas com mais precisão como valores booleanos. No entanto, pandasgeralmente carrega-os como flutuantes por padrão, uma vez que o padrão para booleanos pode ter efeitos indesejados, como transformar valores `NA` em `True`.

`fcc_survey_subset.xlsx` contém uma coluna de ID de string e várias colunas True / False indicando fatores de estresse financeiros. Você avaliará quais colunas não ID não têm valores NA e, portanto, podem ser definidas como booleanas e, em seguida, instruirá read_excel()para carregá-las como tal com o `dtype` argumento.

Definir valores verdadeiros / falsos personalizados
--

Nas colunas booleanas, pandasreconhece automaticamente determinados valores, como "VERDADEIRO" e 1, como `True`, e outros, como "FALSO" e 0, como `False`. Alguns conjuntos de dados, como dados de pesquisa, podem usar valores não reconhecidos, como "Sim" e "Não".

Para fins de prática, algumas colunas booleanas na Pesquisa para Novos Desenvolvedores foram codificadas dessa maneira. Você garantirá que eles sejam interpretados corretamente com a ajuda dos argumentos `true_values`e `false_values`.

pandas e Datetimes:
--

- As colunas de data/hora são carregadas como objectos (cordas) por defeito
- Especifique que as colunas têm datas/horas com o argumento parse_dates (not dtype !)
- `parse_dates` podem aceitar:
>  - uma lista de nomes ou números de colunas a analisar
>  - uma lista contendo listas de colunas a combinar e a analisar
>  - um dicionário onde as chaves são novos nomes de colunas e os valores são listas de colunas para `parse` juntas

Datas não-padronizadas:
--

- `parse_dates`  não funciona com formatos de data/hora não padronizados
- Use `pd.to_datetime()` depois de carregar os dados se o `parse_dates` não funcionar
-  `to_datetime()` argumentos:
> - Quadro de dados e coluna a converter
> - `format` : representação em cadeia do formato de data/hora

Para informções mais completas de set data acesse [link](https://strftime.org/)

Hands-on:
--

In [25]:
URI_2 = 'https://assets.datacamp.com/production/repositories/4412/datasets/fdb113aa942a0e0ad5c155b2f04784886f0038c9/fcc-new-coder-survey.xlsx'

# Rodando o banco de dados do Excel
df_3 = pd.read_excel(URI_2, 
                     skiprows = 2)

# com skiprows cortamos a orientação excel e os metadados

df_3.head(n=1)

C:\Users\Sebastiao\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  """

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,ResourcePluralSight,ResourceSkillCrush,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000

---
# Bases de dados relacionais


- Os dados sobre entidades estão organizados em tabelas
- Cada fila ou registo é uma instância de uma entidade
- Cada coluna tem informação sobre um tributo
- As tabelas podem ser ligadas umas às outras através de chaves únicas
- Suporta mais dados, múltiplos utilizadores simultâneos, e controlos de qualidade de dados
- Os tipos de dados são especificados para cada coluna
- SQL (Structured Query Language) para interagir com bases de dados

Creating Databases Engine
--

Você pode criar `engine` seja pela propia engine dispobiloizada por cada responsavel pelo banco de dados, ou utilizar o metodo da `sqlalchemy` que cria `engine()` faz uma engine para lidar com conexões de banco de dados:

> - Necessita de URL de cadeia de banco de dados para se conectar a
> - Formato URL SQLite: `sqlite:///filename.db`

In [ ]:
# Import sqlalchemy's create_engine() function
from sqlalchemy import create_engine

# Create the database engine
engine = create_engine("sqlite:///data.db")

# View the tables in the database
print(engine.table_names())

Consultas a databases
---

In [ ]:
# Create a SQL query to load the entire weather table
query = """
SELECT * 
  FROM weather;
"""

# Load weather with the SQL query
weather = pd.read_sql(query, engine)

# View the first few rows of data
print(weather.head())

Consultas com `where`
---

In [ ]:
# Create query to get hpd311calls records about safety
query = """
SELECT *
FROM hpd311calls
WHERE complaint_type = 'SAFETY';
"""

# Query the database and assign result to safety_calls
safety_calls = pd.read_sql(query,engine)

# Graph the number of safety calls by borough
call_counts = safety_calls.groupby('borough').unique_key.count()
call_counts.plot.barh()
plt.show()

Consultas com `where` com `or`
---

In [ ]:
# Create query for records with max temps <= 32 or snow >= 1
query = """
SELECT *
  FROM weather
  where tmax <= 32
  or snow >= 1;
"""

# Query database and assign result to wintry_days
wintry_days = pd.read_sql(query,engine)

# View summary stats about the temperatures
print(wintry_days.describe())

Consultas com `GROUP BY`
---

In [ ]:
# Create query to get call counts by complaint_type
query = """
SELECT complaint_type, 
     count(*)
  FROM hpd311calls
  GROUP BY  complaint_type;
"""

# Create data frame of call counts by issue
calls_by_issue = pd.read_sql(query, engine)

# Graph the number of calls for each housing issue
calls_by_issue.plot.barh(x="complaint_type")
plt.show()

In [ ]:
# Create query to get temperature and precipitation by month
query = """
SELECT month, 
        MAX(tmax), 
        MIN(tmin),
        SUM(prcp)
  FROM weather 
 GROUP BY month;
"""

# Get data frame of monthly weather stats
weather_by_month = pd.read_sql(query, engine)

# View weather stats by month
print(weather_by_month)

Consultas com `JOIN`
---

In [ ]:
# Modify query to join tmax and tmin from weather by date
query = """
SELECT hpd311calls.created_date, 
       COUNT(*), 
       weather.tmax, 
       weather.tmin
  FROM hpd311calls 
       JOIN weather 
       ON hpd311calls.created_date = weather.date
 WHERE hpd311calls.complaint_type = 'HEAT/HOT WATER' 
 GROUP BY hpd311calls.created_date;
 """

# Query database and save results as df
df = pd.read_sql(query, engine)

# View first 5 records
print(df.head())

---
# Introdução a JSON

Notação de Objeto Javascript (JSON):
--
- Formato comum de dados web
- Não tabular
> Os registros não precisam ter todos o mesmo conjunto de homenagens
- Dados organizados em coleções de objetos
- Os objetos são coleções de pares de valores de tributo
- JSON aninhado: objetos dentro de objetos

In [ ]:
# Load pandas as pd
import pandas as pd

# Load the daily report to a data frame
pop_in_shelters = pd.read_json('dhs_daily_report.json')

# View summary stats about pop_in_shelters
print(pop_in_shelters.describe())

Trabalhe com orientações JSON
---

JSON não é um formato tabular, portanto, `pandas` faz suposições sobre sua orientação ao carregar dados. A maioria dos dados JSON que você encontrar estarão em orientações que `pandas` podem se transformar automaticamente em um quadro de dados.

Às vezes, como nesta versão modificada do Relatório Diário do Departamento de Serviços de Desabrigados, os dados são orientados de forma diferente. Para reduzir o tamanho do arquivo, ele foi `split` formatado. Você verá o que acontece quando tenta carregá-lo normalmente em comparação com o `orient` argumento de palavra - chave. O `try/except` bloco irá alertá-lo se houver erros ao carregar os dados.

In [ ]:
try:
    # Load the JSON with orient specified
    df = pd.read_json("dhs_report_reformatted.json",
                      orient = 'split')
    
    # Plot total population in shelters over time
    df["date_of_census"] = pd.to_datetime(df["date_of_census"])
    df.plot(x="date_of_census", 
            y="total_individuals_in_shelter")
    plt.show()
    
except ValueError:
    print("pandas could not parse the JSON.")

# API

requests.get()
--

`requests.get(url_string)` para obter dados de um URL
- Argumentos com palavras-chave:
> - `params` keyword: toma um dicionário de parâmetros e valores para personalizar o pedido de API
> - `headers` keyword: leva um dicionário, pode ser usado para fornecer autenticação de usuário à API
- Resultado: um objeto de `response`, contendo dados e metadados
`response.json()` retornará apenas os dados do JSON

In [ ]:
api_url = "https://api.yelp.com/v3/businesses/search"

# Set up parameter dictionary according to documentation
params = {"term": "bookstore",
          "location": "San Francisco"}

# Set up header dictionary w/ API key according to documentation
headers = {"Authorization": "Bearer {}".format(api_key)}

# Get data about NYC cafes from the Yelp API
response = requests.get(api_url, 
                        headers=headers, 
                        params=params)

# Extract JSON data from the response
data = response.json()

# Load data to a data frame
cafes = pd.DataFrame(data["businesses"])

# View the data's dtypes
print(cafes.dtypes)